.wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 16px;
}

/* ============== WRAPPER ============== */

.header {
    margin-top: 48px;
}


.header, .footer {
    flex-shrink: 0;
    padding: 16px 0;
}


/* ============== CARD ============== */


.card {
    flex: 1;
    overflow-y: auto;
    /*background: var(--card);*/
    /*border: 1px solid var(--line);*/
    /*border-radius: 12px;*/
    padding: 16px;
    transition: background var(--transition);
}

.card table {
    width: 100%;
}

/* Hide scrollbar */
.card {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.card::-webkit-scrollbar {
    display: none;
}


/* ============== HEADER / TABS ============== */


.tabs {
    display: flex;
    gap: 4px;
    overflow-x: auto;
    padding-bottom: 4px;
    margin-bottom: 8px;
    align-items: baseline;
}

.tab {
    padding: 8px 12px;
    color: var(--muted);
    cursor: pointer;
    white-space: nowrap;
    font-size: 1.5rem;
    transition: color var(--transition);
}

.tab:hover {
    color: var(--ink);
}

.tab.active {
    color: var(--ink);
    font-weight: 500;
    font-size: 1.75rem;
}


/* ============== HEADER SUMMARY ============== */

#hours-summary {
    padding: 0 12px;
    margin-top: 8px;
    margin-bottom: 4px;
}

.hours-summary-info {
    display: flex;
    gap: 22px;
    padding: 0 4px;
    /*font-size: 12px;*/
    color: var(--muted);
}

.hours-summary-info .number {
    /*font-size: 14px;*/
    color: var(--ink);
    font-size: 18px;
}

/* Timeline */

.timeline {
    overflow: hidden;
    border-radius: 4px;
    height: 6px;
    margin-top: 16px;
    margin-bottom: 4px;
    background: var(--card-light);
    display: flex;
}

.block {
    height: 100%;
    transition: width var(--transition);
}

.block.highlight {
    background: var(--accent2);
}

.block.break {
    background: var(--break);
}

.block.meeting {
    background: var(--danger);
}

.block.done {
    background: var(--ink);
}


/* ============== FOOTER ============== */


.main-controls {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 16px;
}