table {
    border-collapse: collapse;
}

table::after {
    /* extra scroll space */
    content: "";
    display: block;
    height: 20vh;
}

tr {
    border-bottom: 1px solid var(--line);
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    color: var(--muted);
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.3px;
}


/* --------- Action Buttons */

table .action {
    user-select: none;
    background: none;
    border: none;
    opacity: 0.6;
    transition: opacity var(--transition);
}

table .action:hover {
    background: none;
    opacity: 1;
}

table .action.bigger {
    font-size: 18px;
    padding: 6px;
}

/* --------- Gap Row */

.gap-row,
.gap-row input {
    color: var(--warning);
}


/* --------- Column Adjustments */

table tr > *:nth-child(1),
table tr > *:nth-child(2) {
    /* hours */
    text-align: center;
}

table tr > th:nth-child(3) {
    /* duration heading */
    text-align: center;
}

table tr > td:nth-child(3) {
    /* duration row */
    text-align: right;
    font-size: 14px;
    font-family: monospace;
    cursor: default;
}

table tr > *:nth-child(4) {
    /* type icon */
    text-align: center;
}

table tr > th:nth-child(5) {
    padding-left: 20px;
}

table tr > *:nth-child(5) {
    /* description */
    text-align: left;
}

table tr > *:nth-child(6),
table tr > *:nth-child(7) {
    /* actions */
    text-align: center;
    user-select: none;
}


/* --------- Dark Overlay */

#hoursTable {
    position: relative;
    /*overflow-y: auto;*/
    /*max-height: 500px; !* adjust to your layout *!*/
}

#hoursTable::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%; /* how much fade you want */
    pointer-events: none; /* very important: allow clicks through */
    /*background: linear-gradient(to bottom, rgba(15, 17, 21, 0.8), var(--bg-transparent));*/
    z-index: 5;
    transition: opacity 0.5s ease;
}

#hoursTable::before:hover {
    /*opacity: 0;*/
}