.hint-row {
    text-align: center;
    color: var(--placeholder);
    width: 100%;
    font-size: 14px;
    line-height: 24px;
}

kbd {
    background-color: var(--button-bg);
    border-radius: 4px;
    padding: 2px 6px;
    /*color: var(--muted);*/
    font-family: monospace;
    text-transform: lowercase;
}