input[type="time"],
input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 8px 12px;
    font-size: var(--font-size-regular);
    border: 1px solid var(--color-input-border);
    border-radius: 6px;
    background: var(--color-input-bg);
    color: var(--color-text);
    transition: border-color var(--transition), background var(--transition);
}

input[type="time"] {
    text-align: center;
    cursor: text;
}

/* --------- States */

input::placeholder {
    color: var(--color-text-placeholder);
}

input:not([disabled]):hover {
    outline: none;
    border-color: var(--color-accent-subtle);
}

input:focus {
    outline: none;
    border-color: var(--color-accent) !important;
    /*box-shadow: 0 0 0 2px var(--color-accent-subtle);*/
}

tr:has(input:focus) td {
    background-color: hsl(220 17% 9%);
}

/* --------- Hide input clock icon */

input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
    cursor: default;
}

input[type="time"]::-moz-calendar-picker-indicator {
    display: none;
}