table {
    border-collapse: collapse;
}

table::after {
    /* extra scroll space */
    content: "";
    display: block;
    height: 20vh;
}

tr {
    background-color: transparent;
    border-bottom: 2px solid var(--color-bg-border);
    transition: opacity var(--transition) background-color var(--transition);
}

tr:nth-child(even) {
    background-color: var(--color-bg-even);
}

tr:has(input:focus) {
    background-color: hsl(220 17% 9%);
}

th, td {
    padding: 4px 4px;
    text-align: left;
}

th {
    color: var(--color-text-muted);
    font-weight: 400;
    font-size: var(--font-size-small);
    letter-spacing: 0.3px;
}

/* --------- Column Adjustments */

table tr > .time {
    /* hours */
    text-align: center;
}

table tr > td.time,
table tr > td.duration {
    /* hours */
    opacity: .50;
}

table tr > th.duration {
    /* duration heading */
    text-align: center;
    text-align: right;
    padding-right: 16px;
}

table tr > td.duration {
    /* duration row */
    text-align: right;
    font-size: var(--font-size-regular);
    font-family: monospace;
    cursor: default;
    padding-right: 16px;
}

table tr > th.description {
    padding-left: 20px;
}

table tr > .description {
    /* description */
    text-align: left;
}

table tr > .actions {
    /* actions */
    text-align: center;
}

/* --------- Dark Overlay */

#hoursTable {
    position: relative;
}

#hoursTable::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    pointer-events: none;
    /*background: linear-gradient(to bottom, rgba(15, 17, 21, 0.8), var(--bg-transparent));*/
    z-index: 5;
    transition: opacity 0.5s ease;
}

#hoursTable::before:hover {
    /*opacity: 0;*/
}


/* --------- Action Buttons */

tr .action {
    user-select: none;
    background: none;
    border: none;
    opacity: 0.6;
    transition: opacity var(--transition);
}

tr .action:hover {
    background: none;
    opacity: 1;
}

tr .action.bigger {
    font-size: var(--font-size-big);
    padding: 6px;
}

/* --------- Gap Row */

.gap-row input[type='text'],
table tr:has(.type-3) input[type='text'] {
    opacity: .5;
}

.gap-row input {
    color: var(--color-warning);
}

table tr:has(.type-3),
table tr:has(.type-3) input,
table tr:has(.type-3) button,
table tr:has(.type-3) input::placeholder {
    color: var(--color-warning) !important;
}

/* --------- Drag */

.drag-handle {
    cursor: grab;
    user-select: none;
    touch-action: none; /* improves pointer drag on touch */
}

.drag-floating {
    cursor: grabbing;
}

.drag-placeholder td {
    padding: 0;
    border: 0;
    height: inherit; /* keep height stable */
}

/* Optional: animate rows as placeholder moves around */

#hoursTableBody tr {
    transition: transform 1s ease;
    will-change: transform;
}

/* ============== FOCUS MODE ============== */
/* Hide all rows except the last 4 */

.focus-mode #hoursTable tbody tr {
    display: none;
}

.focus-mode #hoursTable tbody tr:nth-last-child(-n+3) {
    display: table-row;
}