#day-summary {
    padding: 0 12px;
    margin-top: 8px;
    margin-bottom: 4px;
}

/* ============== HOURS ============== */

.hours-info {
    display: flex;
    gap: 22px;
    padding: 0 4px;
    color: var(--muted);
}

.hours-info .info {
    display: flex;
    gap: 6px;
    align-items: baseline;
    padding: 4px;
}

.hours-info .number {
    color: var(--ink);
    font-size: 18px;
}

/* --------- Colored Indicator Dot */

.hours-info .dot {
    display: inline-block;
    display: none;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    color: var(--danger-text);
    align-self: center;
    margin-top: 2px;
}

.work-time .dot {
    background-color: var(--ink);
}

.break-time .dot {
    background-color: var(--break);
}

.tickets-count .dot {
    background-color: var(--accent2);
}

/* --------- Colored Indicator Underline */

.work-time {
    /*border-bottom: 2px solid var(--ink);*/
}

.break-time {
    /*border-bottom: 2px solid var(--break);*/
}

.tickets-count {
    /*border-bottom: 2px solid var(--accent2);*/
}

/* ============== TIMELINE ============== */

.timeline {
    overflow: hidden;
    border-radius: 4px;
    height: 6px;
    margin-top: 16px;
    margin-bottom: 4px;
    background: var(--card-light);
    display: flex;
}

.block {
    height: 100%;
    transition: width var(--transition);
}

/* --------- Colors */

.block.ticket {
    background: var(--accent2);
}

.block.break {
    background: var(--break);
}

.block.meeting {
    background: var(--danger);
}

.block.other {
    background: var(--ink);
}